<div id="<%= dom_id book %>">
  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= book.author %>
  </p>

  <p>
    <strong>Genre:</strong>
    <%= book.genre %>
  </p>

  <p>
    <strong>Published date:</strong>
    <%= book.published_date %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= book.status %>
  </p>

  <p>
    <strong>Borrower name:</strong>
    <%= book.borrower_name %>
  </p>

  <p>
    <strong>Borrowed on:</strong>
    <%= book.borrowed_on %>
  </p>

  <p>
    <strong>Returned on:</strong>
    <%= book.returned_on %>
  </p>

</div>
